alembic==1.18.3
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.12.1
blinker==1.9.0
brotli==1.2.0
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961372591/work
cachetools==6.2.6
certifi @ file:///C:/Users/task_176765902528894/croot/certifi_1767659216804/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832794697/work
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761744944645/work
click==8.3.1
cloudpickle==3.1.2
colorama==0.4.6
contourpy==1.3.2
cryptography==46.0.4
cycler==0.12.1
databricks-sdk==0.82.0
docker==7.1.0
exceptiongroup==1.3.1
fastapi==0.128.0
filelock @ file:///C:/Users/task_176943980686702/croot/filelock_1769440565956/work
Flask==3.1.2
flask-cors==6.0.2
fonttools==4.61.1
fsspec==2025.12.0
gitdb==4.0.12
GitPython==3.1.46
gmpy2 @ file:///C:/miniconda3/conda-bld/gmpy2_1764748105976/work
google-auth==2.48.0
gradio==6.12.0
gradio_client==2.4.1
graphene==3.4.3
graphql-core==3.2.7
graphql-relay==3.2.0
greenlet==3.3.1
groovy==0.1.2
h11==0.16.0
hf-gradio==0.3.2
hf-xet==1.4.3
httpcore==1.0.9
httpx==0.28.1
huey==2.6.0
huggingface_hub==1.10.2
hydra-core==1.3.2
idna @ file:///C:/miniconda3/conda-bld/idna_1761912044311/work
importlib_metadata==8.7.1
itsdangerous==2.2.0
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
joblib==1.5.3
kiwisolver==1.4.9
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
matplotlib==3.10.8
mdurl==0.1.2
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
mlflow==3.9.0
mlflow-skinny==3.9.0
mlflow-tracing==3.9.0
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
networkx @ file:///C:/b/abs_b054htfn9t/croot/networkx_1737043671910/work
numpy @ file:///C:/b/abs_0123vcxhf8/croot/numpy_and_numpy_base_1725470331966/work/dist/numpy-2.0.1-cp310-cp310-win_amd64.whl#sha256=e824ec3b279f4c5207736c83ac2f2dc79b489e08501a4ea9e3fc178c45db289b
omegaconf==2.3.0
opentelemetry-api==1.39.1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
orjson==3.11.8
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049101700/work
pandas==2.3.3
pillow @ file:///C:/b/abs_b50vowcrzo/croot/pillow_1738010273782/work
prettytable==3.17.0
protobuf==6.33.5
pyarrow==22.0.0
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser @ file:///C:/miniconda3/conda-bld/pycparser_1757496059965/work
pydantic==2.12.5
pydantic_core==2.41.5
pydub==0.25.1
Pygments==2.20.0
pyparsing==3.3.2
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753030270/work
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.26
pytz==2025.2
pywin32==311
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465513320/work
requests @ file:///C:/miniconda3/conda-bld/requests_1762359612241/work
rich==15.0.0
rsa==4.9.1
safehttpx==0.1.7
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
semantic-version==2.10.0
shellingham==1.5.4
six==1.17.0
skops==0.13.0
smmap==5.0.2
split-folders==0.6.1
SQLAlchemy==2.0.46
sqlparse==0.5.5
starlette==0.50.0
sympy==1.14.0
threadpoolctl==3.6.0
tomli==2.4.0
tomlkit==0.14.0
torch==2.11.0+cu128
torchaudio==2.11.0+cu128
torchvision==0.26.0+cu128
tqdm==4.67.3
typer==0.24.1
typing-inspection==0.4.2
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
tzdata==2025.3
urllib3 @ file:///C:/Users/task_176781036207501/croot/urllib3_1767810484846/work
uvicorn==0.40.0
waitress==3.0.2
wcwidth==0.5.3
Werkzeug==3.1.5
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746276406/work
zipp==3.23.0
